@model Orders


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="panel panel-primary">


        <div class="panel-body">
            <h3>Customer Name : @Model.Customer.CustomerName</h3>
            <h5>Date : @Model.DateOfPurchase.ToShortDateString()</h5>
            <h5>Quamtity : @Model.Quantity</h5>
            <h5>Price per Unit : @Model.PricePerUnit</h5>
            @{var Total=@Model.PricePerUnit * @Model.Quantity;}
            <h5>Total Cost : @Total</h5>
        </div>
        <div class="panel-footer">
            <a asp-area="" asp-controller="Items" asp-action="Index" class="btn btn-primary">Back To Page</a>
        </div>
    </div>
</div>
