@model IEnumerable<VendorToCustomer.Models.Vendars>

@{
    ViewData["Title"] = "Vendar List";
}

<h2>Vendor List</h2>

<table class="table table-striped table-bordered table-hover" style="background-color:bisque">
    <thead>
        <tr>
            <th>
                Vendors Id
            </th>
            <th>
                Vendors Name

            </th>
            @*   <th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorsName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="AddVendors" class="btn btn-info">Add New Vendor</a>
</p>
